@import "tailwindcss";

@theme {
  --color-brand-900: #0F172A;
  --color-brand-800: #1E293B;
  --color-accent-blue: #0284C7;
  --color-accent-cyan: #06B6D4;
  --color-accent-orange: #F97316;
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}
